%footer
	#m-bottom-bar
		.l-container
			%ol.m-song-queue
				- for i in 1..5
					%li.m-song-queue-item
						%i.icon-play=link_to '', '#'
						%a{ :href => '#' } Play (song name)
						%span.song=lorem.words(3)
						%span.artist=lorem.words(2)

/ jQuery
\<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
\<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>